@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.woff2') format('woff2'),
        url('Minecraft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, div, input, p, textarea, button, select {
    font-family: 'Minecraft';
    font-weight: normal;
    font-style: normal;
    margin: 5px;
}

textarea{
    padding-bottom: 0px;
    margin-bottom: 0px;
    top: 10px;
}

.actual-enchant{
    width: 50px;
}