@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.woff2') format('woff2'),
        url('Minecraft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, div, input, p, textarea, button, select {
    font-family: 'Minecraft';
    font-weight: normal;
    font-style: normal;
    margin: 5px;
}

textarea{
    padding-bottom: 0px;
    margin-bottom: 0px;
    top: 10px;
}

.actual-enchant{
    width: 50px;
}

.menu-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }

.desc{
    color:rgb(122, 122, 122);
}